################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter 2/MathsOperators/.vs/MathsOperators/v15
